



.box1{
    background-color: rgb(97, 214, 19);
}

.box2{
    background-color: rgb(37, 21, 92);
}

.box3{
    background-color: rgb(255, 0, 191);
}

.box4{
    background-color: rgb(255, 0, 0);
}

.box5{
    background-color: rgb(6, 224, 24);
}

.box6{
    background-color: rgb(20, 17, 182);
}

.box7{
    background-color: rgb(38, 13, 99);
}

.box8{
    background-color: rgb(29, 173, 230);
}